.login-component {
  //background: url("../../../public/images/mountains-winter.jpg") no-repeat center center fixed;
  //-webkit-background-size: 100% 100%;
  //-moz-background-size: 100% 100%;
  //-o-background-size: 100% 100%;
  //background-size: 100% 100%;

  height: 100vh;
  width: 100vw;
  overflow: hidden;

  form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    display: block;
  }

  nav {
    background-color: rgba(255,255,255, 0.3);
    a {
      color: white;
    }
  }

  video.fullscreen {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
  }

}
