<div class="login-component">

    <video autoplay loop class="fullscreen" muted>
        <source src="../../../public/images/581513681.mp4" type="video/mp4">
    </video>

    <nav class="navbar navbar-static-top navbar-dark bg-inverse">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Backcountry Traveler</a>
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Profile</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="login">
                <input type="text" class="form-control" placeholder="Email Address">
                <input type="text" class="form-control" placeholder="Password">
                <input type="checkbox">
                <button type="submit" class="form-control btn btn-default">Sign In</button>
            </div>
        </form>
    </div>




</div>